tcg/cmk/Tspi_Key_CMKConvertMigration01
tcg/cmk/Tspi_Key_CMKCreateBlob01
tcg/cmk/Tspi_Key_CreateKey01
tcg/cmk/Tspi_TPM_CMKApproveMA01
tcg/cmk/Tspi_TPM_CMKCreateTicket01
tcg/cmk/Tspi_TPM_CMKSetRestrictions01
tcg/common/common.o
tcg/context/Tspi_Context_Close01
tcg/context/Tspi_Context_Close02
tcg/context/Tspi_Context_Close03
tcg/context/Tspi_Context_CloseObject01
tcg/context/Tspi_Context_CloseObject02
tcg/context/Tspi_Context_CloseObject03
tcg/context/Tspi_Context_CloseObject04
tcg/context/Tspi_Context_CloseSignTransport01
tcg/context/Tspi_Context_CloseSignTransport02
tcg/context/Tspi_Context_CloseSignTransport03
tcg/context/Tspi_Context_CloseSignTransport04
tcg/context/Tspi_Context_Connect01
tcg/context/Tspi_Context_Connect02
tcg/context/Tspi_Context_Create01
tcg/context/Tspi_Context_Create02
tcg/context/Tspi_Context_CreateObject01
tcg/context/Tspi_Context_CreateObject02
tcg/context/Tspi_Context_CreateObject03
tcg/context/Tspi_Context_CreateObject04
tcg/context/Tspi_Context_CreateObject05
tcg/context/Tspi_Context_FreeMemory01
tcg/context/Tspi_Context_FreeMemory02
tcg/context/Tspi_Context_FreeMemory03
tcg/context/Tspi_Context_GetCapability01
tcg/context/Tspi_Context_GetCapability02
tcg/context/Tspi_Context_GetCapability03
tcg/context/Tspi_Context_GetCapability04
tcg/context/Tspi_Context_GetCapability05
tcg/context/Tspi_Context_GetCapability06
tcg/context/Tspi_Context_GetCapability07
tcg/context/Tspi_Context_GetCapability08
tcg/context/Tspi_Context_GetCapability09
tcg/context/Tspi_Context_GetCapability10
tcg/context/Tspi_Context_GetCapability11
tcg/context/Tspi_Context_GetCapability12
tcg/context/Tspi_Context_GetCapability13
tcg/context/Tspi_Context_GetCapability14
tcg/context/Tspi_Context_GetCapability15
tcg/context/Tspi_Context_GetCapability16
tcg/context/Tspi_Context_GetCapability17
tcg/context/Tspi_Context_GetCapability18
tcg/context/Tspi_Context_GetCapability19
tcg/context/Tspi_Context_GetCapability20
tcg/context/Tspi_Context_GetCapability21
tcg/context/Tspi_Context_GetDefaultPolicy01
tcg/context/Tspi_Context_GetDefaultPolicy02
tcg/context/Tspi_Context_GetKeyByPublicInfo01
tcg/context/Tspi_Context_GetKeyByPublicInfo02
tcg/context/Tspi_Context_GetKeyByPublicInfo03
tcg/context/Tspi_Context_GetKeyByUUID01
tcg/context/Tspi_Context_GetKeyByUUID02
tcg/context/Tspi_Context_GetKeyByUUID03
tcg/context/Tspi_Context_GetKeyByUUID04
tcg/context/Tspi_Context_GetRegisteredKeysByUUID01
tcg/context/Tspi_Context_GetRegisteredKeysByUUID02
tcg/context/Tspi_Context_GetRegisteredKeysByUUID03
tcg/context/Tspi_Context_GetRegisteredKeysByUUID04
tcg/context/Tspi_Context_GetRegisteredKeysByUUID05
tcg/context/Tspi_Context_GetRegisteredKeysByUUID2_01
tcg/context/Tspi_Context_GetRegisteredKeysByUUID2_02
tcg/context/Tspi_Context_GetRegisteredKeysByUUID2_03
tcg/context/Tspi_Context_GetRegisteredKeysByUUID2_04
tcg/context/Tspi_Context_GetRegisteredKeysByUUID2_05
tcg/context/Tspi_Context_GetTpmObject01
tcg/context/Tspi_Context_GetTpmObject02
tcg/context/Tspi_Context_GetTpmObject03
tcg/context/Tspi_Context_LoadKeyByBlob01
tcg/context/Tspi_Context_LoadKeyByBlob02
tcg/context/Tspi_Context_LoadKeyByBlob03
tcg/context/Tspi_Context_LoadKeyByUUID01
tcg/context/Tspi_Context_LoadKeyByUUID02
tcg/context/Tspi_Context_LoadKeyByUUID03
tcg/context/Tspi_Context_LoadKeyByUUID04
tcg/context/Tspi_Context_LoadKeyByUUID05
tcg/context/Tspi_Context_RegisterKey01
tcg/context/Tspi_Context_RegisterKey02
tcg/context/Tspi_Context_RegisterKey03
tcg/context/Tspi_Context_RegisterKey04
tcg/context/Tspi_Context_SetTransEncryptionKey01
tcg/context/Tspi_Context_SetTransEncryptionKey02
tcg/context/Tspi_Context_SetTransEncryptionKey03
tcg/context/Tspi_Context_UnregisterKey01
tcg/context/Tspi_Context_UnregisterKey02
tcg/context/Tspi_Context_UnregisterKey03
tcg/context/Tspi_Context_UnregisterKey04
tcg/data/Tspi_Data_Bind01
tcg/data/Tspi_Data_Bind02
tcg/data/Tspi_Data_Bind03
tcg/data/Tspi_Data_Seal01
tcg/data/Tspi_Data_Seal02
tcg/data/Tspi_Data_Seal03
tcg/data/Tspi_Data_Seal04
tcg/data/Tspi_Data_Unbind01
tcg/data/Tspi_Data_Unbind02
tcg/data/Tspi_Data_Unbind03
tcg/data/Tspi_Data_Unbind04
tcg/data/Tspi_Data_Unseal01
tcg/data/Tspi_Data_Unseal02
tcg/data/Tspi_Data_Unseal03
tcg/data/Tspi_Data_Unseal04
tcg/data/Tspi_Data_Unseal05
tcg/delegation/Tspi_TPM_Delegate_LoadKey01
tcg/hash/Tspi_Hash_GetHashValue01
tcg/hash/Tspi_Hash_GetHashValue02
tcg/hash/Tspi_Hash_GetHashValue03
tcg/hash/Tspi_Hash_GetHashValue04
tcg/hash/Tspi_Hash_SetHashValue01
tcg/hash/Tspi_Hash_SetHashValue02
tcg/hash/Tspi_Hash_SetHashValue03
tcg/hash/Tspi_Hash_Sign01
tcg/hash/Tspi_Hash_Sign02
tcg/hash/Tspi_Hash_Sign03
tcg/hash/Tspi_Hash_TickStampBlob01
tcg/hash/Tspi_Hash_TickStampBlob02
tcg/hash/Tspi_Hash_TickStampBlob03
tcg/hash/Tspi_Hash_TickStampBlob04
tcg/hash/Tspi_Hash_TickStampBlob05
tcg/hash/Tspi_Hash_UpdateHashValue01
tcg/hash/Tspi_Hash_UpdateHashValue02
tcg/hash/Tspi_Hash_UpdateHashValue03
tcg/hash/Tspi_Hash_VerifySignature01
tcg/hash/Tspi_Hash_VerifySignature02
tcg/highlevel/Tspi_ChangeSRKAuthAndReregister
tcg/highlevel/Tspi_Key_WrapKey01
tcg/highlevel/Tspi_PolicyChecking01
tcg/highlevel/Tspi_PolicyChecking02
tcg/highlevel/Tspi_TPM_StatusTest01
tcg/highlevel/Tspi_TPM_StatusTest02
tcg/highlevel/context/Tspi_Context_Connect03
tcg/highlevel/context/Tspi_Context_Connect04
tcg/highlevel/context/Tspi_Context_CreateDataObject01
tcg/highlevel/context/Tspi_Context_CreateHashObject01
tcg/highlevel/context/Tspi_Context_CreatePcrsObject01
tcg/highlevel/context/Tspi_Context_CreatePolicyObject01
tcg/highlevel/context/Tspi_Context_GetRegisteredKeysByUUID06
tcg/highlevel/context/Tspi_Context_GetRegisteredKeysByUUID07
tcg/highlevel/context/Tspi_Context_GetRegisteredKeysByUUID2_06
tcg/highlevel/context/Tspi_Context_GetRegisteredKeysByUUID2_07
tcg/highlevel/context/Tspi_Context_LoadKeyByBlob04
tcg/highlevel/context/Tspi_Context_LoadKeyByUUID06
tcg/highlevel/context/Tspi_Context_LoadKeyByUUID07
tcg/highlevel/context/Tspi_Context_LoadKeyByUUID08
tcg/highlevel/context/Tspi_Context_RegisterKey05
tcg/highlevel/data/Tspi_Data_Unbind05
tcg/highlevel/data/Tspi_Data_Unbind06
tcg/highlevel/data/Tspi_Data_Unbind07
tcg/highlevel/data/Tspi_Data_Unbind08
tcg/highlevel/data/Tspi_Data_Unseal04
tcg/highlevel/data/Tspi_Data_Unseal05
tcg/highlevel/data/Tspi_Data_Unseal06
tcg/highlevel/data/Tspi_Data_Unseal07
tcg/highlevel/dump_event_log
tcg/highlevel/gui_prompt_for_owner_auth
tcg/highlevel/gui_prompt_for_srk_auth
tcg/highlevel/hash/Tspi_Hash_Sign04
tcg/highlevel/key/Tspi_Key_ConvertMigrationBlob02
tcg/highlevel/key/Tspi_Key_CreateKey04
tcg/highlevel/key/Tspi_Key_CreateKey05
tcg/highlevel/key/Tspi_Key_CreateKey07
tcg/highlevel/key/Tspi_Key_CreateKey08
tcg/highlevel/key/Tspi_Key_CreateKey08.c
tcg/highlevel/key/Tspi_Key_CreateKey16384
tcg/highlevel/key/Tspi_Key_CreateKeyWithPcrs
tcg/highlevel/key/Tspi_Key_CreateKeyWithPcrs01
tcg/highlevel/key/Tspi_Key_CreateKeyWithPcrs02
tcg/highlevel/key/Tspi_Key_CreateKeyWithPcrs02.c
tcg/highlevel/key/Tspi_Key_UnloadKey
tcg/highlevel/key/Tspi_Key_WrapKeyToPcr
tcg/highlevel/key_auth_chain01
tcg/highlevel/key_auth_chain02
tcg/highlevel/key_auth_check01
tcg/highlevel/key_auth_check02
tcg/highlevel/key_conflict01
tcg/highlevel/key_loading
tcg/highlevel/key_loading_auth
tcg/highlevel/policy/policy_no_secret
tcg/highlevel/ps_stress
tcg/highlevel/tpm/Tspi_InvalidateAllFamilies
tcg/highlevel/tpm/Tspi_TPM_ClearOwner01
tcg/highlevel/tpm_rng_test
tcg/highlevel/tspi/Tspi_Callbacks01
tcg/highlevel/tspi/Tspi_GetAttribData19
tcg/highlevel/tspi/Tspi_GetAttribUint3205
tcg/highlevel/tspi/Tspi_PolicyPopup02
tcg/highlevel/tspi/Tspi_PolicyPopup03
tcg/highlevel/tspi/Tspi_PolicyPopup04
tcg/highlevel/tspi/Tspi_SetAttribData09
tcg/highlevel/tthread
tcg/highlevel/unicode
tcg/init/Tspi_TPM_CreateRevocableEndorsementKey01
tcg/init/Tspi_TPM_RevokeEndorsementKey01
tcg/init/Tspi_TPM_SetOperatorAuth01
tcg/init/Tspi_TPM_SetStatus_TempDeactivated01
tcg/init/Tspi_TPM_TakeOwnership01
tcg/init/Tspi_TPM_TakeOwnership03
tcg/init/Tspi_TPM_TakeOwnership04
tcg/init/Tspi_TPM_TakeOwnershipAndCheckSRK
tcg/key/Tspi_Key_CertifyKey01
tcg/key/Tspi_Key_CertifyKey02
tcg/key/Tspi_Key_CertifyKey03
tcg/key/Tspi_Key_CheckAttribs01
tcg/key/Tspi_Key_ConvertMigrationBlob01
tcg/key/Tspi_Key_CreateKey01
tcg/key/Tspi_Key_CreateKey02
tcg/key/Tspi_Key_CreateKey03
tcg/key/Tspi_Key_CreateMigrationBlob01
tcg/key/Tspi_Key_CreateMigrationBlob02
tcg/key/Tspi_Key_CreateMigrationBlob03
tcg/key/Tspi_Key_CreateMigrationBlob04
tcg/key/Tspi_Key_CreateMigrationBlob05
tcg/key/Tspi_Key_GetPubKey01
tcg/key/Tspi_Key_GetPubKey02
tcg/key/Tspi_Key_GetPubKey03
tcg/key/Tspi_Key_LoadKey01
tcg/key/Tspi_Key_LoadKey03
tcg/key/Tspi_Key_LoadKey04
tcg/key/Tspi_Key_UnloadKey01
tcg/key/Tspi_Key_UnloadKey02
tcg/key/Tspi_Key_WrapKey01
tcg/key/Tspi_Key_WrapKey02
tcg/key/Tspi_Key_WrapKey03
tcg/nv/Tspi_NV_DefineSpace01
tcg/nv/Tspi_NV_DefineSpace02
tcg/nv/Tspi_NV_DefineSpace03
tcg/nv/Tspi_NV_DefineSpace04
tcg/nv/Tspi_NV_DefineSpace05
tcg/nv/Tspi_NV_DefineSpace06
tcg/nv/Tspi_NV_DefineSpace07
tcg/nv/Tspi_NV_DefineSpace08
tcg/nv/Tspi_NV_DefineSpace09
tcg/nv/Tspi_NV_DefineSpace10
tcg/nv/Tspi_NV_DefineSpace11
tcg/nv/Tspi_NV_DefineSpace12
tcg/nv/Tspi_NV_DefineSpace13
tcg/nv/Tspi_NV_ReadValue01
tcg/nv/Tspi_NV_ReadValue02
tcg/nv/Tspi_NV_ReadValue03
tcg/nv/Tspi_NV_ReadValue04
tcg/nv/Tspi_NV_ReadValue05
tcg/nv/Tspi_NV_ReadValue06
tcg/nv/Tspi_NV_ReadValue07
tcg/nv/Tspi_NV_ReadValue08
tcg/nv/Tspi_NV_ReleaseSpace01
tcg/nv/Tspi_NV_ReleaseSpace02
tcg/nv/Tspi_NV_ReleaseSpace03
tcg/nv/Tspi_NV_ReleaseSpace04
tcg/nv/Tspi_NV_WriteValue01
tcg/nv/Tspi_NV_WriteValue02
tcg/nv/Tspi_NV_WriteValue03
tcg/nv/Tspi_NV_WriteValue04
tcg/nv/Tspi_NV_WriteValue05
tcg/nv/Tspi_NV_WriteValue06
tcg/nv/Tspi_NV_WriteValue07
tcg/nv/Tspi_NV_WriteValue08
tcg/pcrcomposite/Tspi_PcrComposite_GetCompositeHash01
tcg/pcrcomposite/Tspi_PcrComposite_GetCompositeHash02
tcg/pcrcomposite/Tspi_PcrComposite_GetCompositeHash03
tcg/pcrcomposite/Tspi_PcrComposite_GetCompositeHash04
tcg/pcrcomposite/Tspi_PcrComposite_GetCompositeHash05
tcg/pcrcomposite/Tspi_PcrComposite_GetPcrLocality01
tcg/pcrcomposite/Tspi_PcrComposite_GetPcrLocality02
tcg/pcrcomposite/Tspi_PcrComposite_GetPcrLocality03
tcg/pcrcomposite/Tspi_PcrComposite_GetPcrLocality04
tcg/pcrcomposite/Tspi_PcrComposite_GetPcrValue01
tcg/pcrcomposite/Tspi_PcrComposite_GetPcrValue02
tcg/pcrcomposite/Tspi_PcrComposite_GetPcrValue03
tcg/pcrcomposite/Tspi_PcrComposite_SelectPcrIndex01
tcg/pcrcomposite/Tspi_PcrComposite_SelectPcrIndex02
tcg/pcrcomposite/Tspi_PcrComposite_SelectPcrIndexEx01
tcg/pcrcomposite/Tspi_PcrComposite_SelectPcrIndexEx02
tcg/pcrcomposite/Tspi_PcrComposite_SelectPcrIndexEx03
tcg/pcrcomposite/Tspi_PcrComposite_SetPcrLocality01
tcg/pcrcomposite/Tspi_PcrComposite_SetPcrLocality02
tcg/pcrcomposite/Tspi_PcrComposite_SetPcrLocality03
tcg/pcrcomposite/Tspi_PcrComposite_SetPcrLocality04
tcg/pcrcomposite/Tspi_PcrComposite_SetPcrLocality05
tcg/pcrcomposite/Tspi_PcrComposite_SetPcrValue01
tcg/pcrcomposite/Tspi_PcrComposite_SetPcrValue02
tcg/pcrcomposite/Tspi_PcrComposite_SetPcrValue03
tcg/policy/Tspi_Policy_AssignToObject01
tcg/policy/Tspi_Policy_AssignToObject02
tcg/policy/Tspi_Policy_FlushSecret01
tcg/policy/Tspi_Policy_FlushSecret02
tcg/policy/Tspi_Policy_SetSecret01
tcg/policy/Tspi_Policy_SetSecret02
tcg/policy/Tspi_Policy_SetSecret03
tcg/policy/Tspi_Policy_SetSecret04
tcg/policy/policy_check_lifetime01
tcg/policy/policy_check_lifetime02
tcg/policy/policy_check_lifetime03
tcg/policy/policy_check_lifetime04
tcg/policy/policy_compliance
tcg/tpm/Tspi_TPM_AuthorizeMigrationTicket01
tcg/tpm/Tspi_TPM_AuthorizeMigrationTicket02
tcg/tpm/Tspi_TPM_AuthorizeMigrationTicket03
tcg/tpm/Tspi_TPM_AuthorizeMigrationTicket04
tcg/tpm/Tspi_TPM_CertifySelfTest01
tcg/tpm/Tspi_TPM_CertifySelfTest02
tcg/tpm/Tspi_TPM_CertifySelfTest03
tcg/tpm/Tspi_TPM_CheckMaintenancePubKey01
tcg/tpm/Tspi_TPM_ClearOwner02
tcg/tpm/Tspi_TPM_CollateIdentityRequest01
tcg/tpm/Tspi_TPM_CreateEndorsementKey01
tcg/tpm/Tspi_TPM_CreateEndorsementKey02
tcg/tpm/Tspi_TPM_CreateMaintenanceArchive01
tcg/tpm/Tspi_TPM_CreateMaintenanceArchive02
tcg/tpm/Tspi_TPM_Delegate_AddFamily01
tcg/tpm/Tspi_TPM_Delegate_AddFamily02
tcg/tpm/Tspi_TPM_Delegate_AddFamily03
tcg/tpm/Tspi_TPM_Delegate_AddFamily04
tcg/tpm/Tspi_TPM_Delegate_CacheOwnerDelegation01
tcg/tpm/Tspi_TPM_Delegate_CacheOwnerDelegation02
tcg/tpm/Tspi_TPM_Delegate_CacheOwnerDelegation03
tcg/tpm/Tspi_TPM_Delegate_CacheOwnerDelegation04
tcg/tpm/Tspi_TPM_Delegate_CacheOwnerDelegation05
tcg/tpm/Tspi_TPM_Delegate_CreateDelegation02
tcg/tpm/Tspi_TPM_Delegate_CreateDelegation03
tcg/tpm/Tspi_TPM_Delegate_CreateDelegation04
tcg/tpm/Tspi_TPM_Delegate_CreateDelegation05
tcg/tpm/Tspi_TPM_Delegate_CreateDelegation06
tcg/tpm/Tspi_TPM_Delegate_CreateDelegation07
tcg/tpm/Tspi_TPM_Delegate_CreateKeyDelegation01
tcg/tpm/Tspi_TPM_Delegate_CreateOwnerDelegation01
tcg/tpm/Tspi_TPM_Delegate_GetFamily01
tcg/tpm/Tspi_TPM_Delegate_GetFamily02
tcg/tpm/Tspi_TPM_Delegate_GetFamily03
tcg/tpm/Tspi_TPM_Delegate_GetFamily04
tcg/tpm/Tspi_TPM_Delegate_GetFamily05
tcg/tpm/Tspi_TPM_Delegate_InvalidateFamily01
tcg/tpm/Tspi_TPM_Delegate_InvalidateFamily02
tcg/tpm/Tspi_TPM_Delegate_InvalidateFamily03
tcg/tpm/Tspi_TPM_Delegate_InvalidateFamily04
tcg/tpm/Tspi_TPM_Delegate_ReadTables01
tcg/tpm/Tspi_TPM_Delegate_ReadTables02
tcg/tpm/Tspi_TPM_Delegate_ReadTables03
tcg/tpm/Tspi_TPM_Delegate_ReadTables04
tcg/tpm/Tspi_TPM_Delegate_ReadTables05
tcg/tpm/Tspi_TPM_Delegate_ReadTables06
tcg/tpm/Tspi_TPM_Delegate_UpdateVerificationCount01
tcg/tpm/Tspi_TPM_Delegate_UpdateVerificationCount02
tcg/tpm/Tspi_TPM_Delegate_UpdateVerificationCount03
tcg/tpm/Tspi_TPM_Delegate_VerifyDelegation01
tcg/tpm/Tspi_TPM_Delegate_VerifyDelegation02
tcg/tpm/Tspi_TPM_DirRead01
tcg/tpm/Tspi_TPM_DirRead02
tcg/tpm/Tspi_TPM_DirRead03
tcg/tpm/Tspi_TPM_DirRead04
tcg/tpm/Tspi_TPM_DirWrite01
tcg/tpm/Tspi_TPM_DirWrite02
tcg/tpm/Tspi_TPM_DirWrite03
tcg/tpm/Tspi_TPM_GetAuditDigest01
tcg/tpm/Tspi_TPM_GetAuditDigest02
tcg/tpm/Tspi_TPM_GetAuditDigest03
tcg/tpm/Tspi_TPM_GetAuditDigest04
tcg/tpm/Tspi_TPM_GetAuditDigest05
tcg/tpm/Tspi_TPM_GetAuditDigest06
tcg/tpm/Tspi_TPM_GetAuditDigest07
tcg/tpm/Tspi_TPM_GetAuditDigest08
tcg/tpm/Tspi_TPM_GetAuditDigest09
tcg/tpm/Tspi_TPM_GetAuditDigest10
tcg/tpm/Tspi_TPM_GetAuditDigest11
tcg/tpm/Tspi_TPM_GetCapability01
tcg/tpm/Tspi_TPM_GetCapability02
tcg/tpm/Tspi_TPM_GetCapability03
tcg/tpm/Tspi_TPM_GetCapability04
tcg/tpm/Tspi_TPM_GetCapability05
tcg/tpm/Tspi_TPM_GetCapability06
tcg/tpm/Tspi_TPM_GetCapability07
tcg/tpm/Tspi_TPM_GetCapability08
tcg/tpm/Tspi_TPM_GetCapability09
tcg/tpm/Tspi_TPM_GetCapability10
tcg/tpm/Tspi_TPM_GetCapability11
tcg/tpm/Tspi_TPM_GetCapability12
tcg/tpm/Tspi_TPM_GetCapability13
tcg/tpm/Tspi_TPM_GetCapability14
tcg/tpm/Tspi_TPM_GetCapability15
tcg/tpm/Tspi_TPM_GetCapability16
tcg/tpm/Tspi_TPM_GetCapability17
tcg/tpm/Tspi_TPM_GetCapability18
tcg/tpm/Tspi_TPM_GetCapability19
tcg/tpm/Tspi_TPM_GetCapability20
tcg/tpm/Tspi_TPM_GetCapability21
tcg/tpm/Tspi_TPM_GetCapability22
tcg/tpm/Tspi_TPM_GetCapability23
tcg/tpm/Tspi_TPM_GetCapability25
tcg/tpm/Tspi_TPM_GetCapability26
tcg/tpm/Tspi_TPM_GetCapability27
tcg/tpm/Tspi_TPM_GetCapability29
tcg/tpm/Tspi_TPM_GetEvent01
tcg/tpm/Tspi_TPM_GetEvent02
tcg/tpm/Tspi_TPM_GetEvent03
tcg/tpm/Tspi_TPM_GetEvent04
tcg/tpm/Tspi_TPM_GetEvent05
tcg/tpm/Tspi_TPM_GetEventLog01
tcg/tpm/Tspi_TPM_GetEventLog02
tcg/tpm/Tspi_TPM_GetEventLog03
tcg/tpm/Tspi_TPM_GetEvents01
tcg/tpm/Tspi_TPM_GetEvents02
tcg/tpm/Tspi_TPM_GetEvents03
tcg/tpm/Tspi_TPM_GetEvents04
tcg/tpm/Tspi_TPM_GetEvents05
tcg/tpm/Tspi_TPM_GetPubEndorsementKey01
tcg/tpm/Tspi_TPM_GetPubEndorsementKey02
tcg/tpm/Tspi_TPM_GetPubEndorsementKey03
tcg/tpm/Tspi_TPM_GetPubEndorsementKey04
tcg/tpm/Tspi_TPM_GetRandom01
tcg/tpm/Tspi_TPM_GetRandom02
tcg/tpm/Tspi_TPM_GetRandom03
tcg/tpm/Tspi_TPM_GetStatus01
tcg/tpm/Tspi_TPM_GetStatus02
tcg/tpm/Tspi_TPM_GetStatus03
tcg/tpm/Tspi_TPM_GetTestResults01
tcg/tpm/Tspi_TPM_GetTestResults02
tcg/tpm/Tspi_TPM_GetTestResults03
tcg/tpm/Tspi_TPM_KeyControlOwner01
tcg/tpm/Tspi_TPM_KillMaintenanceFeature01
tcg/tpm/Tspi_TPM_KillMaintenanceFeature02
tcg/tpm/Tspi_TPM_LoadMaintenancePubKey01
tcg/tpm/Tspi_TPM_LoadMaintenancePubKey02
tcg/tpm/Tspi_TPM_OwnerGetSRKPubKey01
tcg/tpm/Tspi_TPM_OwnerGetSRKPubKey02
tcg/tpm/Tspi_TPM_OwnerGetSRKPubKey03
tcg/tpm/Tspi_TPM_OwnerGetSRKPubKey04
tcg/tpm/Tspi_TPM_PcrExtend01
tcg/tpm/Tspi_TPM_PcrExtend02
tcg/tpm/Tspi_TPM_PcrExtend03
tcg/tpm/Tspi_TPM_PcrExtend04
tcg/tpm/Tspi_TPM_PcrRead01
tcg/tpm/Tspi_TPM_PcrRead02
tcg/tpm/Tspi_TPM_PcrRead03
tcg/tpm/Tspi_TPM_PcrReset01
tcg/tpm/Tspi_TPM_PcrReset02
tcg/tpm/Tspi_TPM_PcrReset03
tcg/tpm/Tspi_TPM_Quote01
tcg/tpm/Tspi_TPM_Quote02
tcg/tpm/Tspi_TPM_Quote03
tcg/tpm/Tspi_TPM_Quote04
tcg/tpm/Tspi_TPM_Quote06
tcg/tpm/Tspi_TPM_Quote2_01
tcg/tpm/Tspi_TPM_Quote2_02
tcg/tpm/Tspi_TPM_Quote2_03
tcg/tpm/Tspi_TPM_Quote2_04
tcg/tpm/Tspi_TPM_Quote2_05
tcg/tpm/Tspi_TPM_Quote2_06
tcg/tpm/Tspi_TPM_Quote2_07
tcg/tpm/Tspi_TPM_ReadCounter01
tcg/tpm/Tspi_TPM_ReadCounter02
tcg/tpm/Tspi_TPM_ReadCounter03
tcg/tpm/Tspi_TPM_ReadCurrentTicks01
tcg/tpm/Tspi_TPM_ReadCurrentTicks02
tcg/tpm/Tspi_TPM_ReadCurrentTicks03
tcg/tpm/Tspi_TPM_RevokeEndorsementKey02
tcg/tpm/Tspi_TPM_RevokeEndorsementKey03
tcg/tpm/Tspi_TPM_RevokeEndorsementKey04
tcg/tpm/Tspi_TPM_SelfTestFull01
tcg/tpm/Tspi_TPM_SelfTestFull02
tcg/tpm/Tspi_TPM_SetStatus01
tcg/tpm/Tspi_TPM_SetStatus02
tcg/tpm/Tspi_TPM_SetStatus03
tcg/tpm/Tspi_TPM_StirRandom01
tcg/tpm/Tspi_TPM_StirRandom02
tcg/tpm/Tspi_TPM_StirRandom03
tcg/tpm/Tspi_TPM_TakeOwnership02
tcg/transport/Tspi_ChangeAuth-trans01
tcg/transport/Tspi_ChangeAuth-trans02
tcg/transport/Tspi_ChangeAuth-trans03
tcg/transport/Tspi_Context_LoadKeyByBlob-trans01
tcg/transport/Tspi_Context_LoadKeyByBlob-trans02
tcg/transport/Tspi_Context_LoadKeyByBlob-trans03
tcg/transport/Tspi_Data_Seal-trans01
tcg/transport/Tspi_Data_Seal-trans02
tcg/transport/Tspi_Data_Seal-trans03
tcg/transport/Tspi_Data_Unbind-trans01
tcg/transport/Tspi_Data_Unbind-trans02
tcg/transport/Tspi_Data_Unbind-trans03
tcg/transport/Tspi_Data_Unseal-trans01
tcg/transport/Tspi_Data_Unseal-trans02
tcg/transport/Tspi_Data_Unseal-trans03
tcg/transport/Tspi_Hash_Sign-trans01
tcg/transport/Tspi_Hash_Sign-trans02
tcg/transport/Tspi_Hash_Sign-trans03
tcg/transport/Tspi_Hash_TickStampBlob-trans01
tcg/transport/Tspi_Hash_TickStampBlob-trans02
tcg/transport/Tspi_Hash_TickStampBlob-trans03
tcg/transport/Tspi_Key_CertifyKey-trans01
tcg/transport/Tspi_Key_CertifyKey-trans02
tcg/transport/Tspi_Key_CertifyKey-trans03
tcg/transport/Tspi_Key_ConvertMigrationBlob-trans01
tcg/transport/Tspi_Key_ConvertMigrationBlob-trans02
tcg/transport/Tspi_Key_ConvertMigrationBlob-trans03
tcg/transport/Tspi_Key_CreateKey-trans01
tcg/transport/Tspi_Key_CreateKey-trans02
tcg/transport/Tspi_Key_CreateKey-trans03
tcg/transport/Tspi_Key_CreateMigrationBlob-trans01
tcg/transport/Tspi_Key_CreateMigrationBlob-trans02
tcg/transport/Tspi_Key_CreateMigrationBlob-trans03
tcg/transport/Tspi_Key_GetPubKey-trans01
tcg/transport/Tspi_Key_GetPubKey-trans02
tcg/transport/Tspi_Key_GetPubKey-trans03
tcg/transport/Tspi_Key_LoadKey-trans01
tcg/transport/Tspi_Key_LoadKey-trans02
tcg/transport/Tspi_Key_UnloadKey-trans01
tcg/transport/Tspi_Key_UnloadKey-trans02
tcg/transport/Tspi_Key_UnloadKey-trans03
tcg/transport/Tspi_NV_DefineSpace-trans01
tcg/transport/Tspi_NV_DefineSpace-trans02
tcg/transport/Tspi_NV_DefineSpace-trans03
tcg/transport/Tspi_NV_ReadValue-trans01
tcg/transport/Tspi_NV_ReadValue-trans02
tcg/transport/Tspi_NV_ReadValue-trans03
tcg/transport/Tspi_NV_ReleaseSpace-trans01
tcg/transport/Tspi_NV_ReleaseSpace-trans02
tcg/transport/Tspi_NV_ReleaseSpace-trans03
tcg/transport/Tspi_NV_WriteValue-trans01
tcg/transport/Tspi_NV_WriteValue-trans02
tcg/transport/Tspi_NV_WriteValue-trans03
tcg/transport/Tspi_TPM_AuthorizeMigrationTicket-trans01
tcg/transport/Tspi_TPM_AuthorizeMigrationTicket-trans02
tcg/transport/Tspi_TPM_AuthorizeMigrationTicket-trans03
tcg/transport/Tspi_TPM_CheckMaintenancePubKey-trans01
tcg/transport/Tspi_TPM_CheckMaintenancePubKey-trans02
tcg/transport/Tspi_TPM_CheckMaintenancePubKey-trans03
tcg/transport/Tspi_TPM_CollateIdentityRequest-trans01
tcg/transport/Tspi_TPM_CollateIdentityRequest-trans02
tcg/transport/Tspi_TPM_CollateIdentityRequest-trans03
tcg/transport/Tspi_TPM_CreateMaintenanceArchive-trans01
tcg/transport/Tspi_TPM_CreateMaintenanceArchive-trans02
tcg/transport/Tspi_TPM_CreateMaintenanceArchive-trans03
tcg/transport/Tspi_TPM_Delegate_AddFamily-trans01
tcg/transport/Tspi_TPM_Delegate_AddFamily-trans02
tcg/transport/Tspi_TPM_Delegate_AddFamily-trans03
tcg/transport/Tspi_TPM_Delegate_CacheOwnerDelegation-trans01
tcg/transport/Tspi_TPM_Delegate_CacheOwnerDelegation-trans02
tcg/transport/Tspi_TPM_Delegate_CacheOwnerDelegation-trans03
tcg/transport/Tspi_TPM_Delegate_CreateKeyDelegation-trans01
tcg/transport/Tspi_TPM_Delegate_CreateKeyDelegation-trans02
tcg/transport/Tspi_TPM_Delegate_CreateKeyDelegation-trans03
tcg/transport/Tspi_TPM_Delegate_CreateOwnerDelegation-trans01
tcg/transport/Tspi_TPM_Delegate_CreateOwnerDelegation-trans02
tcg/transport/Tspi_TPM_Delegate_CreateOwnerDelegation-trans03
tcg/transport/Tspi_TPM_Delegate_GetFamily-trans01
tcg/transport/Tspi_TPM_Delegate_GetFamily-trans02
tcg/transport/Tspi_TPM_Delegate_GetFamily-trans03
tcg/transport/Tspi_TPM_Delegate_InvalidateFamily-trans01
tcg/transport/Tspi_TPM_Delegate_InvalidateFamily-trans02
tcg/transport/Tspi_TPM_Delegate_InvalidateFamily-trans03
tcg/transport/Tspi_TPM_Delegate_ReadTables-trans01
tcg/transport/Tspi_TPM_Delegate_ReadTables-trans02
tcg/transport/Tspi_TPM_Delegate_ReadTables-trans03
tcg/transport/Tspi_TPM_Delegate_UpdateVerificationCount-trans01
tcg/transport/Tspi_TPM_Delegate_UpdateVerificationCount-trans02
tcg/transport/Tspi_TPM_Delegate_UpdateVerificationCount-trans03
tcg/transport/Tspi_TPM_Delegate_VerifyDelegation-trans01
tcg/transport/Tspi_TPM_Delegate_VerifyDelegation-trans02
tcg/transport/Tspi_TPM_Delegate_VerifyDelegation-trans03
tcg/transport/Tspi_TPM_DirRead-trans01
tcg/transport/Tspi_TPM_DirRead-trans02
tcg/transport/Tspi_TPM_DirRead-trans03
tcg/transport/Tspi_TPM_DirWrite-trans01
tcg/transport/Tspi_TPM_DirWrite-trans02
tcg/transport/Tspi_TPM_DirWrite-trans03
tcg/transport/Tspi_TPM_GetAuditDigest-trans01
tcg/transport/Tspi_TPM_GetAuditDigest-trans02
tcg/transport/Tspi_TPM_GetAuditDigest-trans03
tcg/transport/Tspi_TPM_GetCapability-trans01
tcg/transport/Tspi_TPM_GetCapability-trans02
tcg/transport/Tspi_TPM_GetCapability-trans03
tcg/transport/Tspi_TPM_GetPubEndorsementKey-trans01
tcg/transport/Tspi_TPM_GetPubEndorsementKey-trans02
tcg/transport/Tspi_TPM_GetPubEndorsementKey-trans03
tcg/transport/Tspi_TPM_GetRandom-trans01
tcg/transport/Tspi_TPM_GetRandom-trans02
tcg/transport/Tspi_TPM_GetRandom-trans03
tcg/transport/Tspi_TPM_GetStatus-trans01
tcg/transport/Tspi_TPM_GetStatus-trans02
tcg/transport/Tspi_TPM_GetStatus-trans03
tcg/transport/Tspi_TPM_GetTestResults-trans01
tcg/transport/Tspi_TPM_GetTestResults-trans02
tcg/transport/Tspi_TPM_GetTestResults-trans03
tcg/transport/Tspi_TPM_KillMaintenanceFeature-trans01
tcg/transport/Tspi_TPM_KillMaintenanceFeature-trans02
tcg/transport/Tspi_TPM_KillMaintenanceFeature-trans03
tcg/transport/Tspi_TPM_LoadMaintenancePubKey-trans01
tcg/transport/Tspi_TPM_LoadMaintenancePubKey-trans02
tcg/transport/Tspi_TPM_LoadMaintenancePubKey-trans03
tcg/transport/Tspi_TPM_OwnerGetSRKPubKey-trans01
tcg/transport/Tspi_TPM_OwnerGetSRKPubKey-trans02
tcg/transport/Tspi_TPM_OwnerGetSRKPubKey-trans03
tcg/transport/Tspi_TPM_PcrExtend-trans01
tcg/transport/Tspi_TPM_PcrExtend-trans02
tcg/transport/Tspi_TPM_PcrExtend-trans03
tcg/transport/Tspi_TPM_PcrRead-trans01
tcg/transport/Tspi_TPM_PcrRead-trans02
tcg/transport/Tspi_TPM_PcrRead-trans03
tcg/transport/Tspi_TPM_PcrReset-trans01
tcg/transport/Tspi_TPM_PcrReset-trans02
tcg/transport/Tspi_TPM_PcrReset-trans03
tcg/transport/Tspi_TPM_Quote-trans01
tcg/transport/Tspi_TPM_Quote-trans02
tcg/transport/Tspi_TPM_Quote-trans03
tcg/transport/Tspi_TPM_Quote2-trans_01
tcg/transport/Tspi_TPM_Quote2-trans_02
tcg/transport/Tspi_TPM_ReadCounter-trans01
tcg/transport/Tspi_TPM_ReadCounter-trans02
tcg/transport/Tspi_TPM_ReadCounter-trans03
tcg/transport/Tspi_TPM_ReadCurrentTicks-trans01
tcg/transport/Tspi_TPM_ReadCurrentTicks-trans02
tcg/transport/Tspi_TPM_ReadCurrentTicks-trans03
tcg/transport/Tspi_TPM_SelfTestFull-trans01
tcg/transport/Tspi_TPM_SelfTestFull-trans02
tcg/transport/Tspi_TPM_SelfTestFull-trans03
tcg/transport/Tspi_TPM_SetOperatorAuth-trans01
tcg/transport/Tspi_TPM_SetOperatorAuth-trans02
tcg/transport/Tspi_TPM_SetOperatorAuth-trans03
tcg/transport/Tspi_TPM_SetStatus-trans01
tcg/transport/Tspi_TPM_SetStatus-trans02
tcg/transport/Tspi_TPM_SetStatus-trans03
tcg/transport/Tspi_TPM_StirRandom-trans01
tcg/transport/Tspi_TPM_StirRandom-trans02
tcg/transport/Tspi_TPM_StirRandom-trans03
tcg/tspi/Tspi_ChangeAuth01
tcg/tspi/Tspi_ChangeAuth02
tcg/tspi/Tspi_ChangeAuth03
tcg/tspi/Tspi_ChangeAuth04
tcg/tspi/Tspi_ChangeAuth05
tcg/tspi/Tspi_ChangeAuth06
tcg/tspi/Tspi_ChangeAuth07
tcg/tspi/Tspi_ChangeAuth08
tcg/tspi/Tspi_ChangeAuthAsym01
tcg/tspi/Tspi_ChangeAuthAsym02
tcg/tspi/Tspi_ChangeAuthAsym03
tcg/tspi/Tspi_DecodeBER_TssBlob01
tcg/tspi/Tspi_DecodeBER_TssBlob02
tcg/tspi/Tspi_DecodeBER_TssBlob03
tcg/tspi/Tspi_DecodeBER_TssBlob04
tcg/tspi/Tspi_DecodeBER_TssBlob05
tcg/tspi/Tspi_EncodeDER_TssBlob01
tcg/tspi/Tspi_EncodeDER_TssBlob02
tcg/tspi/Tspi_EncodeDER_TssBlob03
tcg/tspi/Tspi_EncodeDER_TssBlob04
tcg/tspi/Tspi_EncodeDER_TssBlob05
tcg/tspi/Tspi_EncodeDER_TssBlob06
tcg/tspi/Tspi_EncodeDER_TssBlob07
tcg/tspi/Tspi_GetAttribData01
tcg/tspi/Tspi_GetAttribData02
tcg/tspi/Tspi_GetAttribData03
tcg/tspi/Tspi_GetAttribData04
tcg/tspi/Tspi_GetAttribData05
tcg/tspi/Tspi_GetAttribData06
tcg/tspi/Tspi_GetAttribData07
tcg/tspi/Tspi_GetAttribData08
tcg/tspi/Tspi_GetAttribData09
tcg/tspi/Tspi_GetAttribData10
tcg/tspi/Tspi_GetAttribData11
tcg/tspi/Tspi_GetAttribData12
tcg/tspi/Tspi_GetAttribData13
tcg/tspi/Tspi_GetAttribData14
tcg/tspi/Tspi_GetAttribData15
tcg/tspi/Tspi_GetAttribData16
tcg/tspi/Tspi_GetAttribData17
tcg/tspi/Tspi_GetAttribData18
tcg/tspi/Tspi_GetAttribData19
tcg/tspi/Tspi_GetAttribData20
tcg/tspi/Tspi_GetAttribData21
tcg/tspi/Tspi_GetAttribUint3201
tcg/tspi/Tspi_GetAttribUint3202
tcg/tspi/Tspi_GetAttribUint3203
tcg/tspi/Tspi_GetAttribUint3204
tcg/tspi/Tspi_GetPolicyObject01
tcg/tspi/Tspi_GetPolicyObject02
tcg/tspi/Tspi_GetPolicyObject03
tcg/tspi/Tspi_SetAttribData01
tcg/tspi/Tspi_SetAttribData02
tcg/tspi/Tspi_SetAttribData03
tcg/tspi/Tspi_SetAttribData04
tcg/tspi/Tspi_SetAttribData05
tcg/tspi/Tspi_SetAttribData07
tcg/tspi/Tspi_SetAttribData08
tcg/tspi/Tspi_SetAttribUint3201
tcg/tspi/Tspi_SetAttribUint3202
tcg/tspi/Tspi_SetAttribUint3203
tcg/tspi/Tspi_SetAttribUint3204
tcg/tspi/Tspi_SetAttribUint3205
tcg/tspi/Tspi_SetAttribUint3206
tcg/tspi/Tspi_SetAttribUint3207
tcg/tspi/Tspi_SetAttribUint3208
